@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.btn-primary {
    width: 100% !important;
    box-shadow: 10px 10px 20px white;
    font-size: 32px !important;
    color: white;
    font-family: 'Rampart One', cursive;
}

canvas{
    border: 8px solid white;
    border-radius: 10px;
    animation: changer .9s linear infinite;
}

@keyframes changer {
    0% {
        box-shadow: 10px 10px 60px 20px red;
    }

    20% {
        box-shadow: 10px 10px 60px 20px orange;
    }

    40% {
        box-shadow: 10px 10px 60px 20px yellow;
    }

    60% {
        box-shadow: 10px 10px 60px 20px green;
    }

    80% {
        box-shadow: 10px 10px 60px 20px darkblue;
    }

    100% {
        box-shadow: 10px 10px 60px 20px purple;
    }

}

.btn-primary span {
    font-size: 20px !important;
    color: black;
    font-family: sans-serif;
    color: white;
}

body {
    background-size: cover;
}

.btn-danger {
    font-weight: bold !important;
    color: white;
}

.container1 {
    float: left;
    margin: 1.25rem !important;
}

.container2 {
    float: right;
    margin: 1.25rem !important;
}

.gif_image {
    width: 200px;
    border-radius: 100%;
}